.main-layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    margin-left: 250px;
    flex: 1;
    background-color: #f4f6f8;
    min-height: 100vh;
    padding: 30px;
    /* Removed overflow-y: auto to allow window scroll, or keep it if we want independent scroll */
}

@media (max-width: 768px) {
    .sidebar {
        width: 70px;
    }

    .sidebar h2 h2,
    .label {
        display: none;
    }

    .main-content {
        margin-left: 70px;
    }
}